-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: dorm_management
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `compatible`
--

DROP TABLE IF EXISTS `compatible`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compatible` (
  `Requesting_Student_ID` int(11) NOT NULL,
  `Potential_Roommate_ID` int(11) NOT NULL,
  `Score` decimal(5,2) DEFAULT NULL,
  `Status` enum('Pending','Accepted','Rejected') DEFAULT 'Pending',
  PRIMARY KEY (`Requesting_Student_ID`,`Potential_Roommate_ID`),
  KEY `Potential_Roommate_ID` (`Potential_Roommate_ID`),
  CONSTRAINT `compatible_ibfk_1` FOREIGN KEY (`Requesting_Student_ID`) REFERENCES `student` (`Student_ID`),
  CONSTRAINT `compatible_ibfk_2` FOREIGN KEY (`Potential_Roommate_ID`) REFERENCES `student` (`Student_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compatible`
--

LOCK TABLES `compatible` WRITE;
/*!40000 ALTER TABLE `compatible` DISABLE KEYS */;
INSERT INTO `compatible` VALUES (1,4,37.50,'Pending'),(8,4,75.00,'Accepted');
/*!40000 ALTER TABLE `compatible` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login`
--

DROP TABLE IF EXISTS `login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login` (
  `Login_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Student_ID` int(11) NOT NULL,
  `PasswordHash` varchar(255) NOT NULL,
  `LastLogin` datetime DEFAULT NULL,
  `CreatedAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`Login_ID`),
  UNIQUE KEY `uniq_student_login` (`Student_ID`),
  CONSTRAINT `login_ibfk_1` FOREIGN KEY (`Student_ID`) REFERENCES `student` (`Student_ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login`
--

LOCK TABLES `login` WRITE;
/*!40000 ALTER TABLE `login` DISABLE KEYS */;
/*!40000 ALTER TABLE `login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_request`
--

DROP TABLE IF EXISTS `maintenance_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_request` (
  `RequestID` int(11) NOT NULL AUTO_INCREMENT,
  `DateSubmitted` datetime DEFAULT current_timestamp(),
  `Description` text NOT NULL,
  `Photo` varchar(255) DEFAULT NULL,
  `Category` varchar(50) DEFAULT 'Other',
  `Priority` enum('High','Medium','Low') DEFAULT 'Low',
  `Status` enum('Submitted','In Progress','Resolved') DEFAULT 'Submitted',
  `Student_ID` int(11) NOT NULL,
  `Room_No` varchar(10) NOT NULL,
  `Dorm_name` varchar(50) NOT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `Student_ID` (`Student_ID`),
  KEY `Room_No` (`Room_No`),
  CONSTRAINT `maintenance_request_ibfk_1` FOREIGN KEY (`Student_ID`) REFERENCES `student` (`Student_ID`),
  CONSTRAINT `maintenance_request_ibfk_2` FOREIGN KEY (`Room_No`) REFERENCES `room` (`Room_No`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_request`
--

LOCK TABLES `maintenance_request` WRITE;
/*!40000 ALTER TABLE `maintenance_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal`
--

DROP TABLE IF EXISTS `meal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meal` (
  `token_no` int(11) NOT NULL AUTO_INCREMENT,
  `meal_type` varchar(50) DEFAULT NULL,
  `student_id` int(11) NOT NULL,
  `meal_serve_date` date NOT NULL,
  `is_released` tinyint(1) DEFAULT 0,
  `released_by` int(11) DEFAULT NULL,
  `released_status` varchar(20) DEFAULT 'Pending',
  `claim_status` tinyint(1) DEFAULT 0,
  `claimed_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`token_no`),
  KEY `student_id` (`student_id`),
  KEY `released_by` (`released_by`),
  KEY `claimed_by` (`claimed_by`),
  CONSTRAINT `meal_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`Student_ID`) ON DELETE CASCADE,
  CONSTRAINT `meal_ibfk_2` FOREIGN KEY (`released_by`) REFERENCES `student` (`Student_ID`) ON DELETE SET NULL,
  CONSTRAINT `meal_ibfk_3` FOREIGN KEY (`claimed_by`) REFERENCES `student` (`Student_ID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal`
--

LOCK TABLES `meal` WRITE;
/*!40000 ALTER TABLE `meal` DISABLE KEYS */;
INSERT INTO `meal` VALUES (1,'Breakfast',1,'2026-08-28',1,1,'Claimed',1,6),(2,'Breakfast',6,'2026-08-27',1,6,'Claimed',1,1),(3,'Lunch',1,'2026-08-27',0,NULL,'Pending',0,NULL),(4,'Lunch',8,'2026-08-27',1,8,'Available',0,NULL),(5,'Dinner',8,'2026-08-27',0,NULL,'Pending',0,NULL);
/*!40000 ALTER TABLE `meal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parcel`
--

DROP TABLE IF EXISTS `parcel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parcel` (
  `P_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Tracking_Number` varchar(100) NOT NULL,
  `Status` varchar(50) NOT NULL,
  `Locker_Number` varchar(50) DEFAULT NULL,
  `Arrival_Date` datetime DEFAULT NULL,
  `Receive_Time` datetime DEFAULT NULL,
  `OTP_Code` varchar(50) DEFAULT NULL,
  `Student_ID` int(11) DEFAULT NULL,
  `Handled_By` int(11) DEFAULT NULL,
  PRIMARY KEY (`P_ID`),
  KEY `Student_ID` (`Student_ID`),
  CONSTRAINT `parcel_ibfk_1` FOREIGN KEY (`Student_ID`) REFERENCES `student` (`Student_ID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parcel`
--

LOCK TABLES `parcel` WRITE;
/*!40000 ALTER TABLE `parcel` DISABLE KEYS */;
INSERT INTO `parcel` VALUES (1,'1234','Collected','L1','2026-08-27 15:49:13','2026-08-27 15:51:32','4567',1,NULL),(3,'156','Arrived','42','2026-08-27 15:53:11',NULL,'4455',2,NULL);
/*!40000 ALTER TABLE `parcel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferences`
--

DROP TABLE IF EXISTS `preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preferences` (
  `PreferenceID` int(11) NOT NULL AUTO_INCREMENT,
  `Student_ID` int(11) NOT NULL,
  `Cleanliness` varchar(50) DEFAULT NULL,
  `NoiseTolerance` varchar(50) DEFAULT NULL,
  `StudyHabit` varchar(50) DEFAULT NULL,
  `SleepingHabit` varchar(50) DEFAULT NULL,
  `Others` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`PreferenceID`),
  UNIQUE KEY `uniq_student_pref` (`Student_ID`),
  CONSTRAINT `preferences_ibfk_1` FOREIGN KEY (`Student_ID`) REFERENCES `student` (`Student_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferences`
--

LOCK TABLES `preferences` WRITE;
/*!40000 ALTER TABLE `preferences` DISABLE KEYS */;
INSERT INTO `preferences` VALUES (1,4,'Very Clean','Medium','Early Morning','Flexible','Non-smoker'),(2,1,'Moderately Clean','High','Flexible','Early Bird','I have a pet so on Parents\' Day I will bring my pet.'),(3,8,'Very Clean','Medium','Flexible','Early Bird','');
/*!40000 ALTER TABLE `preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room`
--

DROP TABLE IF EXISTS `room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room` (
  `Room_No` varchar(10) NOT NULL,
  `Dorm_name` varchar(50) DEFAULT NULL,
  `Floor` int(11) DEFAULT NULL,
  `Capacity` int(11) DEFAULT NULL,
  `Status` varchar(20) DEFAULT 'Active',
  PRIMARY KEY (`Room_No`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room`
--

LOCK TABLES `room` WRITE;
/*!40000 ALTER TABLE `room` DISABLE KEYS */;
/*!40000 ALTER TABLE `room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_backup_before_cleanup`
--

DROP TABLE IF EXISTS `room_backup_before_cleanup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room_backup_before_cleanup` (
  `Room_No` varchar(10) NOT NULL,
  `Dorm_name` varchar(50) DEFAULT NULL,
  `Floor` int(11) DEFAULT NULL,
  `Capacity` int(11) DEFAULT NULL,
  `Status` varchar(20) DEFAULT 'Active'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_backup_before_cleanup`
--

LOCK TABLES `room_backup_before_cleanup` WRITE;
/*!40000 ALTER TABLE `room_backup_before_cleanup` DISABLE KEYS */;
/*!40000 ALTER TABLE `room_backup_before_cleanup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_transfer_request`
--

DROP TABLE IF EXISTS `room_transfer_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room_transfer_request` (
  `Transfer_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Student_ID` int(11) NOT NULL,
  `Current_Room` varchar(10) NOT NULL,
  `Requested_Room` varchar(10) NOT NULL,
  `Reason` text NOT NULL,
  `Status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `DateRequested` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`Transfer_ID`),
  KEY `Student_ID` (`Student_ID`),
  KEY `Current_Room` (`Current_Room`),
  KEY `Requested_Room` (`Requested_Room`),
  CONSTRAINT `room_transfer_request_ibfk_1` FOREIGN KEY (`Student_ID`) REFERENCES `student` (`Student_ID`) ON DELETE CASCADE,
  CONSTRAINT `room_transfer_request_ibfk_2` FOREIGN KEY (`Current_Room`) REFERENCES `room` (`Room_No`),
  CONSTRAINT `room_transfer_request_ibfk_3` FOREIGN KEY (`Requested_Room`) REFERENCES `room` (`Room_No`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_transfer_request`
--

LOCK TABLES `room_transfer_request` WRITE;
/*!40000 ALTER TABLE `room_transfer_request` DISABLE KEYS */;
INSERT INTO `room_transfer_request` VALUES (1,1,'M-304','M-105','my roommates bully me.','Approved','2026-08-29 11:21:47');
/*!40000 ALTER TABLE `room_transfer_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student` (
  `Student_ID` int(11) NOT NULL AUTO_INCREMENT,
  `FirstName` varchar(50) NOT NULL,
  `LastName` varchar(50) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `Phone_Number` varchar(20) DEFAULT NULL,
  `Gender` varchar(10) DEFAULT NULL,
  `Contributor_Points` int(11) DEFAULT 0,
  `Department` varchar(50) DEFAULT NULL,
  `Room_No` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`Student_ID`),
  UNIQUE KEY `Email` (`Email`),
  KEY `fk_student_room` (`Room_No`),
  CONSTRAINT `fk_student_room` FOREIGN KEY (`Room_No`) REFERENCES `room` (`Room_No`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-29 11:41:27
